# =========================

# 🔹 GLOBAL

# =========================

.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*~

# =========================

# 🔹 IDEs

# =========================

.vscode/
.idea/
*.iml

# =========================

# 🔹 BACKEND (Spring Boot)
# =========================

/backend/target/
#/backend/build/   # caso use Gradle

# arquivos de build

/backend/*.jar
/backend/*.war
/backend/*.class

# logs

/backend/logs/
*.log

# arquivos de ambiente

/backend/.env

# =========================

# 🔹 FRONTEND (React)

# =========================

/frontend/node_modules/
/frontend/build/
/frontend/dist/

# logs

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# ambiente

/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# =========================

# 🔹 TESTES / COBERTURA

# =========================

coverage/

# =========================

# 🔹 BANCO EMBUTIDO (H2)

# =========================

*.mv.db
*.trace.db

# =========================

# 🔹 SISTEMA

# =========================

.cache/
temp/
tmp/
